.feed{
    flex: 0.5;
    padding: 30px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 440){
    .feed{
        flex: 1;
    }
}