.login >div > img{
    object-fit: contain;
    height: 150px;
}

.login > div{
    display: flex;
    flex-direction: column;
}


.login{
    display: grid;
    place-items: center;
    height: 100vh;
}

.login>div >button{
    width: 300px;
    height: 40px;
    background-color: #3381f4;
    color: #eff2f5;
    font-weight: 800;
    border: none;
    border-radius: 100px;
    
}

.login >div> button:hover{
    background-color: white;
    color: blue;
    
}